save-session=/config/aria2.session
input-file=/config/aria2.session
save-session-interval=60
dir=/downloads
disable-ipv6=true
enable-rpc=true
max-download-limit=0
max-upload-limit=0
rpc-allow-origin-all=true
rpc-listen-all=true
rpc-listen-port=6800
rpc-secret={{ token_aria2 }}
seed-ratio=0
seed-time=0
auto-file-renaming=false
